<%- include('partials/header') %>
<section class="upload-container">
    <div class="drop-zone">
        <div class="icon-container">
            <img src="/img/file.svg" alt="file icon" class="left" draggable="false">
            <img src="/img/file.svg" alt="file icon" class="center" draggable="false">
            <img src="/img/file.svg" alt="file icon" class="right" draggable="false">
        </div>
        <div class="title">
            Drop your files here or,
            <span class="browseBtn">browse</span>
        </div>
    </div>
</section>
<%- include('partials/footer') %>